* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  transition: 0.3s;
}

body {
  background: #edf0f5;
  color: #333;
}

header {
  background: #4f46e5;
  color: white;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  margin-left: 1rem;
  color: white;
  font-weight: bold;
}

.dark-toggle {
  margin-left: 1rem;
  background: white;
  color: #4f46e5;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

.container {
  max-width: 1200px;
  margin: 2rem auto;
  padding: 0 1rem;
}

/* PAGE */
.page { display: none; }
.page.active { display: block; }

/* COURSE LIST */
.course-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 2rem;
}

.course-card {
  background: white;
  padding: 1.3rem;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.progress-circle {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  background: conic-gradient(#4f46e5 0%, #ddd 0%);
}

.course-card button {
  margin-top: 1rem;
  background: #4f46e5;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 8px;
}

footer {
  background: #4f46e5;
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}


